.mainBorderPane {
    -fx-background-color: white;
}

.toolBox {
    -fx-background-color: silver;
}

.errorText {
    -fx-text-fill: red;
}

.dayButton {
    -fx-border-width: 1;
    /*-fx-border-color: black;*/
}